/* Important to do's in de css
1. Per aanroepen indelen op (opmaak, posisitie enz) voor netheid
2. Kopjes geven aan bepaalde stukken waar het voor is op welke pagina of plek om makkelijk terug te vinden

good luck coding! (^-^)*/


*{
    margin: 0;

    font-family: sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 4mm;
    max-width: 100%;
}


@font-face {
    font-family:'formule1mainfont';
    src: url('../fonts/OzdaSuperItalic-yYLXZ.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --font-family-primary:'formule1mainfont';
    --font-family-secondary: 'sans-serif';


    --color-background-white: #FFFF;
    --color-background: #121212;
    --color-text-light:#070101;
    --color-text-dark: #202020;
    --color-primary: #e11515;
    --color-secondary: #acacac;
    --color-border: #ddd;
    --color-shadow: rgba(0, 0, 0, 0.25);


    --font-size-small: 0.8em;
    --font-size-medium: 1em;
    --font-size-large: 1.4em;
    --font-size-xlarge: 1.5em;


    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    --border-radius-small: 3px;
    --border-radius-medium: 5px;
    --border-radius-large: 8px;

    --box-shadow: 0px 4px 4px 0px 
}


/* GLOBALE CSS */

body {
    color:white;
    background-color: var(--color-background);
}

main {
    min-height: 90vh;
}

h1 {
    font-family: var(--font-family-primary);

    font-size: 7vh;
    margin: 2rem 0 2rem 3rem;
}

h2 {
    font-family: var(--font-family-primary);

    margin:5rem 0.5rem 0.5rem;
    font-size: 5vh;
    display: flex;

    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    margin: 0.4rem 0;
}

form input {
    margin: 1rem 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    width: 100%;
    height: 8vh;

    background-color:var(--color-background-white);
    font-family: "alfabet", sans-serif;
    font-weight: 200;
}

header img {
    width: 10rem;
    margin-left: 3rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    list-style-type: none;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a{
    color: #202020;
    text-decoration: none;
    font-size:var(--font-size-medium);
}

header nav ul li a:link {
    color: #202020;
}

header nav ul li a:visited {
    color: #202020;
}

header nav ul li a:hover {
    color: #202020;
}

header nav ul li a:active {
    color: #202020;
}

header nav  ul li:nth-of-type(6) a { 
    background-color: #ffffff;
    box-shadow:0px 4px 4px 2px rgb(0 0 0 / 0.25);
    color: black;
    border-radius: 5px;
    padding: 0.8rem 1.4rem;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    transition: 0.3s, color 0.3s, border 0.3s;
    font-weight: 800;

    font-size:var(--font-size-medium);
} 

header nav ul li:nth-of-type(6) a:link {
    color: #FFFFFF;
}

header nav ul li:nth-of-type(6) a:visited {
    color: black;
}

header nav ul li:nth-of-type(6) a:hover {
    background-color: #acacac;
    color: white;
}

header nav ul li:nth-of-type(6) a:active {
    color: #FFFFFF;
}

header nav ul li:nth-of-type(7) a {
    background-color: #e11515;
    border-radius: 5px;
    padding: 0.8rem 1.4rem;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    transition: 0.3s, color 0.3s, border 0.3s;
    font-weight: 800;

    font-size:var(--font-size-medium);
} 

header nav ul li:nth-of-type(7) a:link {
    color: #FFFFFF;
}

header nav ul li:nth-of-type(7) a:visited {
    color: #FFFFFF;
}

header nav ul li:nth-of-type(7) a:hover {
    background-color: #ffffff;
    box-shadow:0px 0px 0px 2px rgb(161, 0, 0) inset;
    color: black;

}

header nav ul li:nth-of-type(7) a:active {
    color: #FFFFFF;
}

header nav ul li p {
    color: #202020;
}

.profielKnop a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profielKnop a img {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 0 auto;

    background-color: gray;
}

.profielKnop a p {
    font-size: 3,5mm;
    margin-top: 0.3rem;
}

.mainIndex {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100%;
    min-height: 90vh;
}


/* HOME MAIN */


.mainIndex {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto; 
    gap: 1rem; 
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 90vh;
}


.mainIndex section {
    grid-column: span 12; 
    min-height: 80vh;
    margin-top: 5rem;
    max-width: 100%;
}


.mainIndex section:first-of-type {
    grid-column: span 12; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; 
}

.mainIndex section:first-of-type img {
    height: 30em;
}

.mainIndex section:nth-of-type(2) {
    grid-column: span 12; 
    background-color: #240907;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 80vh;
    place-items: center;
}

.mainIndex section:nth-of-type(2) p:first-of-type {
    margin-left: 1rem;
}

.mainIndex section:nth-of-type(2) h2 {
    display: flex;
    align-self: flex-start;
}

.mainIndex section:last-of-type {
    grid-column: span 12; 
    background-color: #240907;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mainIndex section:nth-of-type(2) p {
    display: flex;
}

.mainIndex section:nth-of-type(2) div ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 19em;
}

.mainIndex section:nth-of-type(2) div ul li p {
    font-size: 3vh;
    font-family: var(--font-family-primary);
}

.mainIndex section:nth-of-type(2) div {
    display: flex;
    flex-direction: column;
}

.mainIndex section:nth-of-type(2) img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    height: auto;
    width: auto;
}

.mainIndex section:nth-of-type(3) h2 {
    margin-bottom: 3em;
    justify-content: center;
}

.mainIndex section:nth-of-type(3) div {
    display: flex;
    justify-content: space-between;
}

.mainIndex section:nth-of-type(3) h2 {
    text-align: center;
}

.mainIndex section:nth-of-type(3) div img {
    width: 28vw;
}

/* Leaderboard adjustments */
.mainIndex section:last-of-type {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 3rem;
    max-width: 100%;
}

.mainIndex section:last-of-type div:first-of-type ul {
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 30px;
    margin-bottom: 1rem;
}

.mainIndex section:last-of-type div:first-of-type ul li {
    width: 20em;
    height: 13rem;
    border-radius: 2px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative; 
    margin-bottom: 1rem;
}
.mainIndex section:last-of-type div:first-of-type ul li::after {
    content: "";
    position: absolute;
    bottom: -1rem; 
    left: 0;
    width: 100%;
    height: 1px;
}

.mainIndex section:last-of-type div:first-of-type ul li:nth-of-type(1) {
    background-image: url(./images/home/profielfoto_1.png);
    background-size: cover;
}

.mainIndex section:last-of-type div:first-of-type ul li:nth-of-type(2) {
    background-image: url(./images/home/profielfoto_2.png);
    background-size: cover;
}

.mainIndex section:last-of-type div:first-of-type ul li:nth-of-type(3) {
    background-image: url(./images/home/profielfoto_3.png);
    background-size: cover;
}

.mainIndex section:last-of-type div:first-of-type ul li:hover {
    transform: scale(1.05);
}

.mainIndex section:last-of-type div:first-of-type ul li p {
    color: #fff;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: var(--font-family-primary);
    width: 100%;
    margin-top: auto;
}

/* List adjustments */
.mainIndex section:last-of-type div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-top: 10em;
    background-color: hsl(0, 0%, 100%);
    padding: 3rem 2rem 2rem;
    color: var(--color-text-light);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.mainIndex section:last-of-type div:nth-of-type(2) ul li h3 {
    font-size: var(--font-size-xlarge);
    font-family: var(--font-family-primary);
    margin-bottom: auto;
}

.mainIndex section:last-of-type div:nth-of-type(2) ul:first-of-type li {
    font-family: var(--font-family-primary);
}

.mainIndex section:last-of-type div:nth-of-type(2) ul {
    margin-right: 5em;
    margin-left: 5em;
}

.mainIndex section:last-of-type div:nth-of-type(2) ul li {
    list-style-type: none;
    margin-bottom: 3em;
    font-size: var(--font-size-medium);
}
/*
.mainIndex {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 

    min-height: 100vh;
    max-width: 100%; 
}
*/
/*
.mainIndex section:first-of-type div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}


.mainIndex section {
     max-width: 100%;
    min-height: 80vh;
    margin-top: 5rem;
}


.mainIndex section:first-of-type img{
    height: 30em;
}

.mainIndex section:nth-of-type(2) { 
    background-color: #240907;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    height:80vh;
    max-width: 100%;
    place-items: center;
    padding: 2rem; }

.mainIndex section:nth-of-type(2) h2{
    display: flex;
    align-self: flex-start;
}

.mainIndex section:last-of-type{
    background-color: #240907;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainIndex section:nth-of-type(2) p{
    display: flex;
    margin-top:2rem;
}

.mainIndex section:nth-of-type(2) div ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 19em;
 }


 .mainIndex section:nth-of-type(2) div ul li p{
    font-size: 3vh;
    font-family: var(--font-family-primary);


 }

.mainIndex section:nth-of-type(2) div{
    display: flex;
    flex-direction: column;
}

.mainIndex section:nth-of-type(2) img{
    max-width: 100%;  
    max-height: 80vh; 
    object-fit: contain; 
    height: auto;
    width: auto; 
}

.mainIndex section:nth-of-type(3) h2{
    margin-bottom: 3em;
    justify-content: center;
}
.mainIndex section:nth-of-type(3) div{
  display: flex;
  justify-content: space-between;

  width: 90vw;
}

.mainIndex section:nth-of-type(3) h2{
    text-align: center;
}
.mainIndex section:nth-of-type(3) div img {
    width: 28vw;


  }
  /*
/* leaderbord */

  .mainIndex section:last-of-type{
    display:flex;
    flex-direction: column;
    text-align: center;

    padding-bottom: 3rem;
  }

  .mainIndex section:last-of-type div:first-of-type ul{
    margin-top: 10em;

    display: flex;
    justify-content: space-around;

    gap: 20px;
    margin-bottom: 30px;
    border-color: #000 solid 1px;
  }

  /*  cards */

 .mainIndex section:last-of-type div:first-of-type ul li {
    width: 20em;
    height: 13rem;

    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    list-style-type: none;

    display:flex;
    justify-content:center;
    flex-direction: column;
  }

  /* profiel foto leaderbord 1/2/3 plek*/

 .mainIndex section:last-of-type div:first-of-type ul li:nth-of-type(1){
    background-image:url(./images/home/profielfoto_1.png);
    background-size:cover;
 }


 .mainIndex section:last-of-type div:first-of-type ul li:nth-of-type(2){
    background-image:url(./images/home/profielfoto_2.png);
    background-size:cover;
 }

 .mainIndex section:last-of-type div:first-of-type ul li:nth-of-type(3){
    background-image:url(./images/home/profielfoto_3.png);
    background-size:cover;
 }
  .mainIndex section:last-of-type div:first-of-type ul li:hover {
    transform: scale(1.05); 
  }

  .mainIndex section:last-of-type div:first-of-type ul li p{
    color: #fff;
    background-color: var(--color-background);

    display: flex;
    justify-content:center;

    padding: 1rem;
    font-family: var(--font-family-primary);

    width: 100%;
    margin-top: auto;
  }

  /*  lijst */
  

  .mainIndex section:last-of-type div:nth-of-type(2){
    display: flex;
    justify-content: center;
    margin-top: 10em;
    
    background-color:hsl(0, 0%, 100%);
    padding: 3rem 2rem 2rem;
    color:var(--color-text-light);
    
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px; 
  }

  section div:first-of-type img:hover {
    transform: scale(1.1); 
}

  /*  lijst  */


  .mainIndex section:last-of-type div:nth-of-type(2)  ul li h3{
    font-size: var(--font-size-xlarge);
    font-family: var(--font-family-primary);
    margin-bottom: auto;
  }

  .mainIndex section:last-of-type div:nth-of-type(2) ul:first-of-type li{
    font-family: var(--font-family-primary);
  }

  .mainIndex section:last-of-type div:nth-of-type(2) ul{
    margin-right: 5em;
    margin-left: 5em;
  }
  .mainIndex section:last-of-type div:nth-of-type(2) ul li{
    list-style-type: none;
    margin-bottom: 3em;
    font-size: var(--font-size-medium);

  }

  
/* carousel */

.mainIndex section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainIndex section:first-of-type li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainIndex section:first-of-type li img {
    order: -1;
}


.swiper-button-prev,
.swiper-button-next {
    border: none;
    background-color:var(--color-background);
}


.swiper {
    width: 100%;
    height: 5em;
}

/* .swiper-pagination-bullet {
    background-color: #ffffff; 
    width: 12px; 
    height: 12px;
    margin: 0 5px; 
    opacity: 1; 
  }

  .swiper-pagination-bullet-active {
    background-color: #ff0000; 
  } */


/* INLOGGEN MAIN */

.mainLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: Arial, sans-serif;
}
 /*
h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 1rem;
    color: #eaeaea;
}
/*

/* Style the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Style labels */
label {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    display: block;
}

/* Floating input boxes */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="file"] {
    width: 35%;
    padding: 13px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background: white;
    color: #333;
    transition: border 0.3s, box-shadow 0.3s;
}

/* Focus effect */
input:focus {
    outline: none;
    border-color: #cb1616;
    box-shadow: 0 0 5px rgba(203, 22, 22, 0.5);
}

/* Custom file input styling */
input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    cursor: pointer;
    transition: border 0.3s, box-shadow 0.3s;
}

.custom-file-upload:hover {
    border-color: #cb1616;
    box-shadow: 0 0 5px rgba(203, 22, 22, 0.5);
}


input[type="submit"] {
    width: 200px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: #cb1616;
    border: none;
    cursor: pointer;
    transform: skew(-20deg);
    transition: 0.3s, color 0.3s, box-shadow 0.3s;
}

/* Hover effect: inside red border, white background, black text */
input[type="submit"]:hover {
    background: white;
    color: black;
    box-shadow: inset 0px 0px 0px 2px #cb1616;
}

/* ACCOUNT AANMAAK MAIN */

.mainCreateAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: Arial, sans-serif;
}


/* VOORKEUREN INSTELLEN MAIN */



/* POST AANMAKEN */






/* PROFILE MAIN */

.mainProfile section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainProfile section h2 {
    margin: 0 0 2rem 0;
}

.mainProfile section img {
    height: 14vw;
    width: 14vw;
    border-radius: 100%;
    background-color: gray;

}

/* COMMUNICTY  */

.mainCommunity h1{
    width: 95%;
    margin: 0;
}

.mainCommunity a {
    padding: 1rem;
    background-color: #ff0000;
    color: #FFFFFF;
    text-decoration: none;

    height: 20px;
    width: 100px;
    border-radius: 5px;

    font-weight: 800;
    font-size: var(--font-size-medium);
} 

.mainCommunity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainCommunity div:first-of-type{
    display: flex;
    flex-direction: row;

    margin: 10px;
    flex-direction: row;
    margin: 2rem;
    margin-left: 1rem;
    width: 87%;
}

.mainCommunity div:nth-of-type(2){
    margin: auto;
    width: 85%;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
}

.mainCommunity div:nth-of-type(2) article{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;

    display: flex;
  
    flex-direction: column;
    justify-content: center;
    width: 85%;

    flex-direction: row;
    width: 90%;
    background-color: rgb(28, 28, 28);
    margin-top: 2rem;
}

.mainCommunity article div{
    width: 100%;
    display: flex;

}

.mainCommunity h2{
    font-size:var(--font-size-xlarge);
    margin-left: 0px;
    margin-bottom: 10px;
    max-width: 60%;
    margin-top: 0;

    font-weight: 50;
}

.mainCommunity p:first-of-type{
    --webkit-mask-image: linear-gradient(180deg, #000  10%, transparent);
    margin-bottom: 10px;
    width: 100%;
}

.mainCommunity div:nth-of-type(2) article div{
    flex-direction: column;
}

.mainCommunity div article img{ 
    width: 8vw;
    margin: auto 1.5rem auto 0;
    max-width: 12vw;
    margin-left: auto;
    max-height: 12vw;
}


/* QUIZ MAIN */

/* .mainQuiz section {
    display: flex;
    flex-direction: column;
    text-align: center; 

    flex: 1; 
    margin: 0 2rem 2rem 2rem;
    padding-top: 2rem;
    background-color: #222222;
    border-radius: 5px;
} */

.mainQuiz button{
    margin: auto auto;
    background-color:hsl(0, 1%, 65%);
    padding: 1vh 2vh;
    border-radius: 3px;

    font-weight: bold;
}

.mainQuiz section {
    display: grid;
    grid-template-columns: auto 50vw auto;
    grid-template-rows: auto auto auto;
    gap: 3rem;
    
}

.mainQuiz section:nth-of-type(1){
    background-color: #222222;
    margin: 2rem 3rem;
    border-radius: 10px;
}

.mainQuiz h1{
    margin-bottom: 2rem;
}

.mainQuiz h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 2rem;
    /* justify-content: center; */

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.mainQuiz img{
    width: auto;
    margin-bottom: 1rem;
    border-radius: 5px ;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.mainQuiz button:nth-of-type(1) {
    background-color:hsl(0, 1%, 47%);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.mainQuiz button:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.mainQuiz section ul {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    list-style-type: none;
    margin-bottom: 2rem;
}

.mainQuiz ul li {
    margin-top: 3rem;
}

.mainQuiz ul li label {
    font-size:large;
    margin-left: 1rem;
}

/* PROBEERSEL */
.quiz-question {
    display: none;
}

.quiz-question.is-active {
    display: block;
}


/* TEAM UP MAIN */

.teamUp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamUp h2{
    margin-top: 2rem;
}

.teamUp div{
    align-items: center;
    display: flex;
    background-color: #333;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 60%;
    border-radius: 8px;
}

#followBtn{
    background-color: #e11515;
    border-radius: 5px;
    padding: 0.8rem 1.4rem;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    transition: 0.3s, color 0.3s, border 0.3s;
    font-weight: 800;

    font-size:var(--font-size-medium);
}

#followBtn:hover{
    background-color: #ffffff;
    box-shadow:0px 0px 0px 2px rgb(161, 0, 0) inset;
    color: black;
    
}




/* COMMUNITY MAIN */
.mainCommunity{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    margin: 1rem 1rem;
}


/* ARCHIEF MAIN */


.mainArchive {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: auto auto auto auto; 
    gap: 2rem; 

    padding: 2rem; 
    max-width: 100%;
    margin: 0 auto; 
}

/* Header (h1) styling */
.mainArchive h1 {
    grid-column: 1 / -1; 
    text-align: center;
    font-size: 4rem;

    margin-bottom: var(--spacing-medium);
    color: var(--color-background-white);
}

/* Sidebar styling */
.mainArchive aside {
    grid-column: 1 / 2; 
    grid-row: 3 / -1; 
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.mainArchive aside div {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-medium);
    text-align: center;
    padding: var(--spacing-small);
}

.mainArchive aside div a {
    color: white;
    text-decoration: none;
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.mainArchive aside div a.selected {
    background-color: var(--color-secondary);
    padding: var(--spacing-small);
    border-radius: var(--border-radius-small);
}

/* ARCHIEF ID*/

#archiveList {
    grid-column: 2 / 3; 
    grid-row: 4 / -1; 
    border-radius: var(--border-radius-medium);
    padding: var(--spacing-medium);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    max-height: 60vh;
}

.archiveList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.archiveList li {
    padding: var(--spacing-small);
    border-bottom: 2px solid var(--color-border);

    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
}

.archiveList li:last-child {
    border-bottom: none;
}

.archiveList li p {
    margin: 0.5rem 0;
}

/* OUDE ARCHIEF STYLING */
/*
.mainArchive {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: auto auto auto auto;
    gap: 2vw;
    
}
.mainArchive h1 {
    grid-row: 1;
}


.mainArchive aside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    padding: 0;

    display: flex;
    justify-content: space-between;
}

.mainArchive aside div {
    display: flex;
    flex-direction: row;

    width: 18vw;
    height: 8vh;

    background-color: red;
    border-radius: 5px;
}

.mainArchive aside div input {
    margin-left: 1rem;
}

.mainArchive aside div label {
    justify-content: center;
    align-self: center;

    margin-left: 1rem;

    font-family: var(--font-family-primary);
    font-size: var(--font-size-large);
}

.archiveList {
    max-height: 55vh;
    margin-top: 3rem;
    padding: 1rem 2rem;
    
    overflow-y: auto; 
    list-style: none;
    border: 1px solid #FFFFFF; 

    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.archiveList li {
    padding: 1rem;
    border-bottom: 1px solid #FFFFFF;
}

.archiveList li:last-child {
    border-bottom: none;
}
*/
/* ZOEK FUNCTIE */

.zoeken{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zoeken details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: var(--color-background-white) 3px solid;
}

.zoeken details summary{
    border-color: var(--color-background-white) 3px solid;
}

.zoeken details button{
   margin-top: 1rem;
   background-color: #FFF;


   padding: 0.5rem;
   border-radius: 3px;
}
.zoeken label input{
    padding: 0.5rem 1rem;
    border-radius: 75px;
    background-color: rgb(250, 243, 243);
}
/* HELP & SUPPORT */

.mainHelpSupport h1, h2{
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.mainHelpSupport{ 
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    text-align: center;     
    margin: 1rem 1rem;
}

.mainHelpSupport section{
    margin-bottom: 10rem;
}

.mainHelpSupport ul {
    margin: 3rem 1rem;
    list-style-type: none;
    padding-left: 0;
}

.mainHelpSupport li {
    background-color: #222222;
    padding: 1rem;
    margin-bottom: 10px;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden; 
    transition: max-height 0.5s ease-in-out; 
    max-height: 5rem;
}


.mainHelpSupport li:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 10;
}
.mainHelpSupport li details[open] {
    max-height: 20rem;
    transition: max-height 0.5s ease-in-out; 
}

.mainHelpSupport li  details p{
    padding-top: 0.5rem;
    transition: max-height 0.5s ease-in-out;
}

.mainHelpSupport li details summary {
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

 /*  FORM */
 form {
    padding: 2rem 2;
    border-radius: 8px;
    margin: 0 auto;

    background-color: var(--color-text-dark); 
    width: 60rem;
    height: 30rem;
}


form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

form input, form textarea {
    width: 100%; 
    max-width: 600px; 
    padding: 1rem; 
    margin-bottom: 1rem;

    color: var(--color-text-dark);
    font-size: var(--font-size-medium);
    text-align: left; 

    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-small);
    box-sizing: border-box;
    background-color: var(--color-background-white);
    
    transition: border-color 0.3s, box-shadow 0.3s;
}


form input:focus, form textarea:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 5px rgba(225, 21, 21, 0.5);
}

form button {
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: white;
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: var(--color-secondary);
    transform: scale(1.05);
}

form button:active {
    transform: scale(0.95);
}

/*
form {
    padding: 2rem 2;
    border-radius: 8px;
    margin: 0 auto;

    background-color: var(--color-text-dark); 
    width: 60rem;
}


form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

form input, form textarea {
    padding: 0.75rem 5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;

}


form button:hover {
    background-color: #555;
}

details {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.3s;
}

summary {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    font-size: 1.1em;
}

details[open] {
    background: #202020;
}

details div {
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 5px;
}

details div p {
    margin: 0.8rem 0;
}
/*

/* HELP & SUPPORT */


/* friends */
/* .mainfriends{
    display: flex;
    flex-direction: column;
    align-items: center;      
} */

/* .vindvrienden {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
} */

.vindvrienden label input{
    border-radius: 75px;
}

.vindvrienden label{
    width: 50%;
}

.vindvrienden li{
    display: flex;
}
/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer section{
    margin: 5rem;
}

footer h3{
    font-family: var(--font-family-primary);
    margin-bottom: 2rem;
    margin-left: 3rem;
}

footer ul{
    list-style-type: none;
}
footer ul li{
    margin-bottom: 1rem;
}