/* Important to do's in de css
1. Per aanroepen indelen op (opmaak, posisitie enz) voor netheid
2. Kopjes geven aan bepaalde stukken waar het voor is op welke pagina of plek om makkelijk terug te vinden

good luck coding! (^-^)*/


*{
    margin: 0;

    font-family: sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 4mm;
}


@font-face {
    font-family:'formule1mainfont';
    src: url('../fonts/OzdaSuperItalic-yYLXZ.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



/* GLOBALE CSS */

body {
    color:white;
    background-color: #121212;
}

h1, h2 {
    font-family: 'formule1mainfont', sans-serif;
    font-size: 4rem;
    color: white;

    display: flex;
    justify-content: left;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    margin: 1rem 0;
}

form input {
    margin: 1rem 0;
}



/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    width: 100vw;
    height: 8vh;

    background-color: #FFFFFF;
    font-family: "alfabet", sans-serif;
    font-weight: 200;
}

header img {
    width: 10rem;
    margin-left: 3rem;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 3rem;

    list-style-type: none;
}

header ul li {
    margin: 0 1rem;
}

header ul li a {
    color: #202020;
    text-decoration: none;
}

header ul li a:link {
    color: #202020;
}

header ul li a:visited {
    color: #202020;
}

header ul li a:hover {
    color: #202020;
}

header ul li a:active {
    color: #202020;
}

header ul li:nth-of-type(7) a {  /*  is dit niet bijna dubbel met de 8ste :)?*/
    padding: 0.8rem 2rem;

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;

    border-radius: 5px;
    font-weight: 800;
} 

header ul li:nth-of-type(7) a:link {
    color: #FFFFFF;
}

header ul li:nth-of-type(7) a:visited {
    color: #231919;
}

header ul li:nth-of-type(7) a:hover {
    color: #FFFFFF;
}

header ul li:nth-of-type(7) a:active {
    color: #FFFFFF;
}

header ul li:nth-of-type(8) a {
    padding: 0.8rem 1rem;

    background-color: #ff0000;
    color: #FFFFFF;
    text-decoration: none;

    border-radius: 5px;
    font-weight: 800;
} 

header ul li:nth-of-type(8) a:link {
    color: #FFFFFF;
}

header ul li:nth-of-type(8) a:visited {
    color: #FFFFFF;
}

header ul li:nth-of-type(8) a:hover {
    color: #FFFFFF;
}

header ul li:nth-of-type(8) a:active {
    color: #FFFFFF;
}

main section:first-of-type img{
    flex-direction:row;
}

main div{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}


main section:nth-of-type(2){ 
    background-color: #240907;
}

main section{
    margin-top: 5rem;
}

header ul li p {
    color: #202020;
}

main {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
    min-height: 100vh; 
}

section {
    flex: 1; 
    width: 100%; 
    padding-left: 1cm;
    min-height: 100vh;
}
