*{
    color:white;
    background-color: rgb(20, 20, 20);
}

@font-face {
    font-family:'formule1mainfont';
    src: url('../fonts/OzdaSuperItalic-yYLXZ.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin-left: 3rem;
}

header ul {
    display: flex;
    flex-direction: row;

    margin-right: 3rem;
}

header ul li {
    margin: 0 1rem;
}

h1 {
    font-family: 'formule1mainfont', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

