<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching - create account</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="accountPreferences">

        <h1>CREATE ACCOUNT</h1>

        <form action="/accountPreferences" method="POST">
            <label for="season">When did you first start watching Formula 1?</label>
            <select id="season" name="season">
                <% for (let year = 2025; year >= 1950; year--) { %>
                    <option value="<%= year %>"><%= year %></option>
                <% } %>
            </select>

            <label for="driver">Who is your favorite (active) driver?</label>
            <select id="driver" name="driver">
                <option value="alexander_albon">Alexander Albon</option>
                <option value="andrea_kimi_antonelli">Andrea Kimi Antonelli</option>
                <option value="carlos_sainz">Carlos Sainz Jr.</option>
                <option value="charles_leclerc">Charles Leclerc</option>
                <option value="fernando_alonso">Fernando Alonso</option>
                <option value="gabriel_bortoleto">Gabriel Bortoleto</option>
                <option value="george_russell">George Russell</option>
                <option value="isack_hadjar">Isack Hadjar</option>
                <option value="jack_doohan">Jack Doohan</option>
                <option value="lando_norris">Lando Norris</option>
                <option value="lance_stroll">Lance Stroll</option>
                <option value="lewis_hamilton">Lewis Hamilton</option>
                <option value="liam_lawson">Liam Lawson</option>
                <option value="max_verstappen">Max Verstappen</option>
                <option value="nico_hulkenberg">Nico Hülkenberg</option>
                <option value="oliver_bearman">Oliver Bearman</option>
                <option value="oscar_piastri">Oscar Piastri</option>
                <option value="pierre_gasly">Pierre Gasly</option>
                <option value="yuki_tsunoda">Yuki Tsunoda</option>
            </select>

            <label for="team">What is your favorite (active) team?</label>
            <select id="team" name="team">
                <option value="alpine">Alpine</option>
                <option value="aston_martin">Aston Martin</option>
                <option value="ferrari">Ferrari</option>
                <option value="haas">Haas</option>
                <option value="kick_sauber">Kick Sauber</option>
                <option value="mclaren">McLaren</option>
                <option value="mercedes">Mercedes</option>
                <option value="racing_bulls">Racing Bulls</option>
                <option value="red_bull_racing">Red Bull Racing</option>
                <option value="williams">Williams</option>
            </select>

            <label for="team">What is your favorite (active) circuit?</label>
            <select id="team" name="team">
                <option value="australian_gp">Australian Grand Prix</option>
                <option value="chinese_gp">Chinese Grand Prix</option>
                <option value="japanese_gp">Japanese Grand Prix</option>
                <option value="bahrain_gp">Bahrain Grand Prix</option>
                <option value="saudi_arabian_gp">Saudi Arabian Grand Prix</option>
                <option value="miami_gp">Miami Grand Prix</option>
                <option value="emilia_romagna_gp">Emilia-Romagna Grand Prix</option>
                <option value="monaco_gp">Monaco Grand Prix</option>
                <option value="spanish_gp">Spanish Grand Prix</option>
                <option value="canadian_gp">Canadian Grand Prix</option>
                <option value="austrian_gp">Austrian Grand Prix</option>
                <option value="british_gp">British Grand Prix</option>
                <option value="belgian_gp">Belgian Grand Prix</option>
                <option value="hungarian_gp">Hungarian Grand Prix</option>
                <option value="dutch_gp">Dutch Grand Prix</option>
                <option value="italian_gp">Italian Grand Prix</option>
                <option value="azerbaijan_gp">Azerbaijan Grand Prix</option>
                <option value="singapore_gp">Singapore Grand Prix</option>
                <option value="united_states_gp">United States Grand Prix</option>
                <option value="mexico_city_gp">Mexico City Grand Prix</option>
                <option value="sao_paulo_gp">São Paulo Grand Prix</option>
                <option value="las_vegas_gp">Las Vegas Grand Prix</option>
                <option value="qatar_gp">Qatar Grand Prix</option>
                <option value="abu_dhabi_gp">Abu Dhabi Grand Prix</option>
            </select>

            <input type="submit" value="Set account Preferences">
        </form>
        
    </main>

    <%- include('../view/footer'); %>

</body>
</html>