<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching - create account</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="accountPreferences">

        <h1>CREATE ACCOUNT</h1>

        <form action="/accountPreferences" method="POST">
            <label for="season">When did you first start watching Formula 1?</label>
            <select id="season" name="season">
                <% for (let year = 2024; year >= 1950; year--) { %>
                    <option value="<%= year %>"><%= year %></option>
                <% } %>
            </select>

            <label for="driver">Who is your favorite driver?</label>
            <select id="driver" name="driver">
                <option value="albon">Alexander Albon</option>
                <option value="sainz">Carlos Sainz Jr.</option>
                <option value="leclerc">Charles Leclerc</option>
                <option value="ricciardo">Daniel Ricciardo</option>
                <option value="alonso">Fernando Alonso</option>
                <option value="russell">George Russell</option>
                <option value="zhou">Guanyu Zhou</option>
                <option value="kevin_magnussen">Kevin Magnussen</option>
                <option value="norris">Lando Norris</option>
                <option value="stroll">Lance Stroll</option>
                <option value="hamilton">Lewis Hamilton</option>
                <option value="lawson">Liam Lawson</option>
                <option value="max_verstappen">Max Verstappen</option>
                <option value="hulkenberg">Nico Hülkenberg</option>
                <option value="bearman">Oliver Bearman</option>
                <option value="piastri">Oscar Piastri</option>
                <option value="gasly">Pierre Gasly</option>
                <option value="bottas">Valtteri Bottas</option>
                <option value="tsunoda">Yuki Tsunoda</option>
            </select>

            <label for="team">What is your favorite (active) team?</label>
            <select id="team" name="team">
                <option value="Alpine F1 Team">Alpine</option>
                <option value="Aston Martin">Aston Martin</option>
                <option value="Ferrari">Ferrari</option>
                <option value="Haas F1 Team">Haas</option>
                <option value="Sauber">Kick Sauber</option>
                <option value="McLaren">McLaren</option>
                <option value="Mercedes">Mercedes</option>
                <option value="AlphaTauri">Racing Bulls</option>
                <option value="Red Bull Racing">Red Bull Racing</option>
                <option value="Williams">Williams</option>
            </select>

            <label for="team">What is your favorite (active) circuit?</label>
            <select id="circuit" name="circuit">
                <option value="albert_park">Australian Grand Prix</option>
                <option value="shanghai">Chinese Grand Prix</option>
                <option value="suzuka">Japanese Grand Prix</option>
                <option value="bahrain">Bahrain Grand Prix</option>
                <option value="jeddah">Saudi Arabian Grand Prix</option>
                <option value="miami">Miami Grand Prix</option>
                <option value="imola">Emilia-Romagna Grand Prix</option>
                <option value="monaco">Monaco Grand Prix</option>
                <option value="catalunya">Spanish Grand Prix</option>
                <option value="villeneuve">Canadian Grand Prix</option>
                <option value="red_bull_ring">Austrian Grand Prix</option>
                <option value="silverstone">British Grand Prix</option>
                <option value="spa">Belgian Grand Prix</option>
                <option value="hungaroring">Hungarian Grand Prix</option>
                <option value="zandvoort">Dutch Grand Prix</option>
                <option value="monza">Italian Grand Prix</option>
                <option value="baku">Azerbaijan Grand Prix</option>
                <option value="marina_bay">Singapore Grand Prix</option>
                <option value="americas">United States Grand Prix</option>
                <option value="rodriguez">Mexico City Grand Prix</option>
                <option value="interlagos">São Paulo Grand Prix</option>
                <option value="las_vegas">Las Vegas Grand Prix</option>
                <option value="losail">Qatar Grand Prix</option>
                <option value="yas_marina">Abu Dhabi Grand Prix</option>
            </select>

            <input type="submit" value="Set account Preferences">
        </form>
        
    </main>

    <%- include('../view/footer'); %>

</body>
</html>