<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="mainArchive">
        <h1>archives</h1>

        <section>
            <img src="" alt="">
            <h2>Drivers</h2>
        </section>
        
        <section>
            <img src="" alt="">
            <h2>Constructors</h2>
        </section>

        <section>
            <img src="" alt="">
            <h2>Championships</h2>
        </section>
 
        <section>
            <img src="" alt="">
            <h2>Circuits</h2>
        </section>
    </main>

    <%- include('../view/footer'); %>

</body>
</html>