<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching - create account</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="mainCreateAccount">

        <h1>CREATE ACCOUNT</h1>

        <form action="/createAccount" method="POST" enctype="multipart/form-data">

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>

            <label for="pass">Password:</label>
            <input type="text" name="pass" id="pass" required>

            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required>

            <label for="date">Date of Birth</label>
            <input type="date" name="date" id="date" required>

            <label for="file" class="custom-file-upload">Add profile picture</label>
            <input type="file" id="file" name="file">
            
            <input type="submit" value="Create Account">
        </form>
        
    </main>

    <%- include('../view/footer'); %>
    <script src="/script/lazyload.js"></script>
</body>
</html>