<footer>
    <section>
        <h3>Gaming</h3>
            <ul>
                <li>Esports</li>
                <li>Fantasy</li>
                <li>F1 24</li>
                <li>F1 Manager 24</li>
                <li>F1 Predict</li>
                <li>F1 Mobile Racing</li>
                <li>F1 Clash</li>
            </ul>
    </section>
    <section>
        <h3>Gaming</h3>
            <ul>
                <li>Esports</li>
                <li>Fantasy</li>
                <li>F1 24</li>
                <li>F1 Manager 24</li>
                <li>F1 Predict</li>
                <li>F1 Mobile Racing</li>
                <li>F1 Clash</li>
            </ul>
    </section>
    <section>
        <h3>Wins & prices</h3>
            <ul>
                <li>Weekly challenge</li>
                <li>F1 one play</li>
                <li>F1 team play</li>
                <li>Challenge ur friend</li>
                <li>Rules & more</li>
            </ul>
    </section>
    <section>
        <h3>Latest</h3>
            <ul>
                <li>What is F1? </li>
                <li>Video</li>
                <li>Drivers</li>
                <li>Teams</li>
                <li>Schedule</li>
            </ul>
    </section>
</footer>