<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>
<body>
    <%- include('../view/header'); %>

    <main class="mainfriends">
        <h1>friends</h1>
        <p>Find and add friends!</p>

        <div class="vindvrienden">
        <label><input type="text" placeholder="search..."></label>
        <details>
            <summary>
                sort
            </summary>
            <details>
                <summary>
                    Team
                </summary>
                <ul>
                    <li>
                        <input type="checkbox" id="alpine" name="alpine" value="alp">
                        <label for="alpine"> alpine </label>
                    </li>
                    <li>
                        <input type="checkbox" id="amartin" name="astonmartin" value="astonmartin">
                        <label for="amartin"> Aston Martin</label>
                    </li>
                    <li>
                        <input type="checkbox" id="ferrari" name="ferrari" value="ferrari">
                        <label for="ferrari"> Ferrari </label>
                    </li>
                    <li>
                        <input type="checkbox" id="haas" name="haas" value="haas">
                        <label for="haas"> Haas </label>
                    </li>
                    <li>
                        <input type="checkbox" id="ksauber" name="kicksauber" value="kicksauber">
                        <label for="ksauber"> Kick Sauber</label>
                    </li>
                    <li>
                        <input type="checkbox" id="mclaren" name="teammclaren" value="laren">
                        <label for="mclaren"> Mc Laren </label>
                    </li>   
                    <li>
                        <input type="checkbox" id="mercedes" name="mercedes" value="mercedes">
                        <label for="mercedes"> Mercedes </label>
                    </li>
                    <li>
                        <input type="checkbox" id="racingbulls" name="racingbulls" value="racingbulls">
                        <label for="racingbulls"> Racing Bulls </label>
                    </li>   
                    <li>
                        <input type="checkbox" id="redbullracing" name="redbullracing" value="redbullracing">
                        <label for="redbullracing"> Red bull Racing </label>
                    </li>   
                    <li>
                        <input type="checkbox" id="williams" name="williams" value="williams">
                        <label for="williams"> Williams </label>
                    </li>   
                </ul>
            </details>
            <details>
                <summary>drivers</summary>
                <ul>
                    <li>
                        <input type="checkbox" id="lnorris" name="landonorris" value="landonorris">
                        <label for="lnorris"> Lando Norris </label>
                    </li>   
                    <li>
                        <input type="checkbox" id="mverstappen" name="maxverstappen" value="maxverstappen">
                        <label for="maxverstappen"> Max Verstappen </label>
                    </li>   
                    <li>
                        <input type="checkbox" id="grussel" name="georgerussel" value="georgerussel">
                        <label for="grussel"> George Russel </label>
                    </li>
                    <li>
                        <input type="checkbox" id="akantonelli" name="andreakimiantonelli" value="andreakimiantonelli">
                        <label for="akantonelli"> Andrea Kimi Antonelli </label>
                    </li>
                    <li>
                        <input type="checkbox" id="aalbon" name="alexanderalbon" value="alexanderalbon">
                        <label for="aalbon"> Alexander Albon </label>
                    </li>
                    <li>
                        <input type="checkbox" id="lstroll" name="lancestroll" value="lancestroll">
                        <label for="lstroll">  </label>
                    </li>          
                </ul>
            </details>
        </details>
        </div>



    </main>
    
    <%- include('../view/footer'); %>
    <script src="/script/lazyload.js"></script>
</body>
</html>