<header>
    <img src="static\style\images\logo_f1.png" alt="Logo">

    <ul>
        <li><a href="Test"></a></li>
        <li><a href="Test"></a></li>
        <li><a href="Test"></a></li>
        <li><a href="Test"></a></li>
        <li><a href="Test"></a></li>
    </ul>
</header>

