<header>
    <img src="/style/images/header/logo_f1.png" alt="Logo">

    <ul>
        <li><a href="#">Help en support</a></li>
        <li><a href="#">Nieuws & updates</a></li>
        <li><a href="#">The archive</a></li>
        <li><a href="#">Team up</a></li>
        <li><a href="#">feed</a></li>
        <li><a href="#">speel</a></li>

        <% if (user) { %>
            <li><p>Welkom, <%= user.username %>!</p></li>
            <li><a href="/logout">Uitloggen</a></li>
        <% } else { %>
            <li><a href="/login">Log in</a></li>
            <li><a href="/createAccount">Create account</a></li>
        <% } %>
    </ul>
</header>