<header>
    <img src="#" alt="Logo">

    <ul>
        <li><a href="Test">Help en support</a></li>
        <li><a href="Test">Nieuws & updates</a></li>
        <li><a href="Test">The archive</a></li>
        <li><a href="Test">Team up</a></li>
        <li><a href="Test">feed</a></li>
        <li><a href="Test">speel</a></li>
        <li><a href="Test">log in</a></li>
        <li><a href="Test">Create account</a></li>
    </ul>
</header>

