<header>
    <img src="#" alt="Logo">

    <ul>
        <li><a href="#">Battle?</a></li>
        <li><a href="#">Community?</a></li>
        <li><a href="#">Archives?</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/createAccount">Create Account</a></li>
    </ul>
</header>

