<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="mainHelpSupport">
        <section>
            <h1>Help & Support</h1>
                <p>We are here to help you! If you experience any issues or have any questions about our Formula 1 services, you can find the most frequently asked questions here. Is the answer not here? Please contact us for support.</p>
    </section>
    <section>
        <h2>frequently asked questions</h2>
            <ul>
                <li>
                    <details>
                        <summary>How can I start or join a game?</summary>
                            <p>Om een quiz te starten, ga naar de "Quiz" sectie en klik op de knop "Start Quiz". Om je aan te melden voor een spel met vrienden, ga naar de "Vrienden Strijd" sectie en nodig je vrienden uit om mee te doen!</p>
                            <p>To start a quiz, go to the quiz page and click on 'Start Quiz.' If you want to sign up for a game with friends, go to 'Friend Battle' and invite your friends to play.</p>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>How can I battle against my friends?</summary>
                            <p>Ga naar de "Vrienden Strijd" sectie in het menu, kies een game of quiz, en nodig je vrienden uit via een unieke code of link. Je kunt de scores live volgen en zien wie de meeste punten verzamelt!</p>
                            <p>Go to 'Friend Battle' in the selection menu and pick a game or quiz. Invite your friends with a unique code or link. You can follow the scores live and see who has the most points</p>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Why is my game not loading?</summary>
                            <p>Check if your internet connection is stable. If you still experience any issues, try refreshing the page or contact us for technical support.</p>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>How can I edit my profile?</summary>
                             <p>Go to your profile page by clicking on your name at the top right. There, you can edit your avatar, name, and settings.</p>
                    </details>
                </li>
            </ul>
    </section>

    <section>
        <h2>Contact us</h2>
            <p>Is your answer not in the most frequently asked questions, or do you have another question? Fill out the form below, and we will contact you as soon as possible.</p>
    </section>
    <section>
        <form action="/verzend_bericht" method="POST">
            <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Name">

            <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Email" required>

            <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" placeholder="Message" required></textarea>

                <button type="submit">Send Message</button>
        </form>
    </section>
    </main>
   
    <%- include('../view/footer'); %>

    <script src="/script/script.js"></script>
    <script src="/script/lazyload.js"></script>
</body>
</html>