<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<!--afbeelding van https://pixabay.com/nl/photos/f1-racen-sport-mensen-4509029/-->
<body>
    <%- include('../view/header'); %>

    <main class="mainIndex">
        <section class="swiper">
            <h1>f1 battles</h1>
            <p class="swiper-pagination"></p>
            <button class="swiper-button-prev"></button>
            <button class="swiper-button-next"></button>

            <ul class="swiper-wrapper">
                <li class="swiper-slide"><img src="/style/images/home/kaartje_fernando_alonso.png" alt="card 1"></li>
                <li class="swiper-slide"><img src="/style/images/home/kaartje_charles_leclerc.png" alt="card 2"></li>
                <li class="swiper-slide"><img src="/style/images/home/kaartje_max_verstappen.png" alt="card 3"></li>
                <li class="swiper-slide"><img src="/style/images/home/kaartje_lando_norris.png" alt="card 4"></li>
                <li class="swiper-slide"><img src="/style/images/home/kaartje_lewis_hamilton.png" alt="card 5"></li>
            </ul>
        </section>

        <section>
                    <div>
                    <h2>Welkom bij f1 battle</h2>
                        <p>Ben jij een echte Formule 1-fan en klaar om je kennis op de proef te stellen? Daag andere racefans uit in spannende quizbattles, test je expertise en win fantastische prijzen! Strijd samen met vrienden of tegen andere liefhebbers, verzamel zoveel mogelijk punten en klim naar de top van het klassement. Elke quiz is een nieuwe uitdaging waarin je jouw F1-kennis kunt bewijzen. Heb jij het in je om de ultieme F1-kampioen te worden? Doe mee en race naar de overwinning!</p>
                            <ul>
                                <li><p>1. Team up</p></li>
                                <li><p>2. Speel</p></li>
                                <li><p>3. Win</p></li>
                            </ul>
                    </div>
                                <img src="./style/images/home/formule1_over.png" alt="max verstappen">
         </section>
        <section>
                        <h2>Speel met je vrienden</h2>
                            <div>
                                <img class="lazy-load"  data-src="./style/images/home/speelmetjevrienden_f1_race.png" alt="card 1">
                                <img class="lazy-load"  data-src="./style/images/home/speelmetjevrienden_racer.png" alt="card 2">
                                <img class="lazy-load"  data-src="./style/images/home/speelmetjevrienden_band.png" alt="card 3">
                            </div>
        </section>
         <section>
                        <h2>player leaderbord</h2> <!--zijn divs hier oke?-->
                            <div>
                                <ul>
                                    <li><p>2. Jan38 </p></li>
                                    <li><p>1. Bas38 </p></li>
                                    <li><p>3. Koen38 </p> </li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><h3>Gebruiker</h3></li>
                                    <li>Bas8390</li>
                                    <li>Tom030</li>
                                    <li>Koen8393</li>
                                    <li>Ben8932</li>
                                    <li>Bert8398</li>
                                </ul>
                                <ul>
                                    <li><h3>Level</h3></li>
                                    <li>level pro</li>
                                    <li>level pro</li>
                                    <li>level good</li>
                                    <li>level good</li>
                                    <li>level good</li>
                                </ul>
                                <ul>
                                    <li><h3>Points</h3></li>
                                    <li>793794</li>
                                    <li>373284</li>
                                    <li>673843</li>
                                    <li>778349</li>
                                    <li>889290</li>
                                </ul>
                            </div>
        </section>
    </main>

    <%- include('../view/footer'); %>
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/script/home.js"></script>
    <script src="/script/lazyload.js"></script>

</body>
</html>