<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching - login</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="mainLogin">
        <h1>LOGIN</h1>

        <form action="login">

            <label for="username"></label>
            <input type="text" name="username" id="username">

            <label for="pass"></label>
            <input type="text" name="pass" id="pass">

            <input type="submit" value="submit">
        </form>
    </main>

    <%- include('../view/footer'); %>
</body>
</html>