<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="mainProfile">
        <h1>Your profile</h1>

        <section>
            <h2><%= user.username %></h2>
            <img src="/profilepics/<%= user.profilePic %>" alt="Your profile picture">
        </section>

        <a href="/accountPreferences">Edit Preferences</a>

    </main>

    <%- include('../view/footer'); %>
    <script src="/script/lazyload.js"></script>

</body>
</html>