<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formule 1 Quiz</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- include('../view/header'); %>
    
    <main>
      <h1>Formule 1 Quiz</h1>

      <% if (!user) { %> 
        <p>You must be logged in to take personalised quizzes!</p>
      <% } else { %>
      <div>
        <% questions.forEach(question => { %>
            <article>
              <p><%= question.question %></p>
            </article>
        <% }) %>
      </div>
      <% } %>
  </main>

    <%- include('../view/footer'); %>

    <script src="/script/quiz.js"></script>

</body>
</html>
