<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
</head>
<body class="quiz">
    <%- include('../view/header'); %>

    <h1>Quiz formule 1 circuits</h1>

    <section>

        <h2>Welk circuit staat bekend als "het juweel in de kroon van de formule 1"</h2>
        <ul>
            <li><input type="radio" id="silverstone" name="vraag1" value="Silverstone" checked /><label for="Silverstone">silverstone</label></li>
            <li><input type="radio" id="Monza" name="vraag1" value="Monza" checked /><label for="Monza">Monza</label></li>
            <li><input type="radio" id="Monaco" name="vraag1" value="Monaco" checked /><label for="Monaco">Monaco</label></li>
            <li><input type="radio" id="Suzuka" name="vraag1" value="Suzuka" checked /><label for="Suzuka">Suzuka</label></li>
        </ul>
    </section>

    <section>
        <h2>Wat is het langste circuit op de F1-kalender (2024)?</h2>
        <ul>
            <li><input type="radio" id="circuitoftheAmericas" name="vraag2" value="Circuit of the Americas" checked /><label for="circuitoftheAmericas">Circuit of the Americas</label></li>
            <li><input type="radio" id="spaFrancorchamps" name="vraag1" value="spa-Francorchamps" checked /><label for="spa-Francorchamps">spa-Francorchamps</label></li>
            <li><input type="radio" id="Jeddah" name="vraag1" value="Jeddah" checked /><label for="Jeddah">Jeddah Corniche Circuit</label></li>
            <li><input type="radio" id="singapore" name="vraag1" value="singapore" checked /><label for="singapore">Singapore Street Circuit</label></li>
        </ul>
    </section>
   

    <%- include('../view/footer'); %>
</body>
</html>