<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formule 1 Quiz</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- include('../view/header'); %>
    
    <main>
      <h1>Welcome, <%= questions.quizquestions %>!</h1>
    </main>

    <%- include('../view/footer'); %>

    <script src="/script/server.js"></script>
</body>
</html>
