<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
</head>
<body class="quiz">
    <%- include('../view/header'); %>

    <h1>Quiz formule 1 circuits</h1>

    <section>
        <h2>Welk circuit staat bekend als "het juweel in de kroon van de formule 1"</h2>
        <ul>
            <li><input type="radio" id="silverstone" name="vraag1" value="Silverstone" checked /></li>
        </ul>
    </section>

    <%- include('../view/footer'); %>
</body>
</html>