<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="teamUp">
        <h1>Search friends!</h1>
        <% users.forEach(myUser => { %>
            <div>
                <h2><%= myUser.username %></h2>
                <% if (user != null && user.username !== myUser.username) { %> <!-- Prevent current user from following themselves -->
                    <button data-user-username="<%= myUser.username %>" class="button" id="followBtn">
                        Follow
                    </button>
                <% } %>
            </div>
        <% }) %>
    </main>
    

    <%- include('../view/footer'); %>

    <!-- <script src="/script/follow.js"></script> -->
    <!-- <script src="/script.js"> </script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="/script/friends.js"></script>
    <script src="/script/lazyload.js"></script>

</body>
</html>